.block {
	position: relative;
	height: 30px;
	width: 10px;
	background-color: red;
	line-height: 30px;
	overflow: hidden;
}

p {
	line-height: 30px;
	margin: 0 auto;
}

.ani {
	animation: demo 6s infinite linear;
}

@keyframes demo {
	from {
		margin-top: 0;
	}
	to {
		margin-top: -300px;
	}
}