body {
	margin: 0 auto;
}

main {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}

section {
	width: 300px;
	border: 1px solid #999;
	box-shadow: 0 0 11px #666;
	border-radius: 8px;
	margin-top: 20px;
	display: inline-block;
}

header {
	width: 280px;
	height: 200px;
	margin: 10px auto;
	background: rgba(0, 0, 0, .3);
}