html,body {
	width: 100%;
	height: 100%;
	background-color: #999;
}

.demo {
	position: relative;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-top: -25px;
	margin-left: -25px;
	text-align: center;
	line-height: 50px;
}

.nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;

	z-index: 1;
	border-radius: 50px;
	background: none;
}

.nav.active {
	background: rgba(255, 255, 255, .7);
}

.icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
  margin-top: 5px;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: green;
	border-radius: 20px;
}

.icon1 {
	right: 250px;
	animation-delay: 1s;
	background-color: #6dc96e;
	background-image: url('./images/icon1.png');
}
.icon2 {
	right: 200px;
	animation-delay: .8s;
	background-color: #ffb323;
	background-image: url('./images/icon2.png');
}
.icon3 {
	right: 150px;
	animation-delay: .6s;
	background-color: #ff784d;
	background-image: url('./images/icon3.png');
}
.icon4 {
	right: 100px;
	animation-delay: .4s;
	background-color: #51a9ff;
	background-image: url('./images/icon4.png');
}
.icon5 {
	right: 50px;
	animation-delay: .2s;
	background-color: #d779bf;
	background-image: url('./images/icon5.png');
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	animation-fill-mode:forwards;
	opacity: 0;
	display: inline-block;
}

.zoomIn {
	-webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

.icon1.zoomOut { animation-delay: 0s; }
.icon2.zoomOut { animation-delay: .1s; }
.icon3.zoomOut { animation-delay: .3s; }
.icon4.zoomOut { animation-delay: .5s; }
.icon5.zoomOut { animation-delay: .7s; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50%, 100% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.circle {
	position: absolute;
	top: 18px;
	right: 17px;
	width: 15px;
	height: 15px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 18px;
	z-index: 2;

	transform: scale(1);
	transition: 1s;
}

.demo.active .circle {
	transform: scale(2.5);
}

.rotate {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	background: url('./images/rote1.png');
	background-size: contain;
	z-index: 3;

	transform: rotate(0);
	transition: 1s;
}

.demo.active .rotate {
	transform: rotate(-540deg);
}

.m {
	position: absolute;
	right: 0;
	width: 50px;
	color: #fff;
	z-index: 4;
}
